{% load static %}
<!DOCTYPE html> 


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body >
 <table align="center">
   <tr>
     <td class="head">sign up free</td>
   </tr>
   <tr>
     <td>
      <input class="input" type="text" placeholder="First name*"> <input class="input" type="text" placeholder="Last name*">
     </td>
   </tr>
   <tr>
     <td><input class="set" type="text" placeholder="Email Address*">
    </td>
   </tr>
   <tr>
     <td>
       <input class="set" type="text" placeholder="Set A Password*">
     </td>
   </tr>
   <tr>
     <td><input class="button" type="button" value="GET STARTED">
    </td>
   </tr>
 </table>
</body>
</html>